<%- include('../includes/head.ejs') %> 
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %>
    <main>
        mycart
    </main>
<%- include('../includes/end.ejs') %>
    